{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}שיר: {{relevant_songs}}{% endblock %}</title>
</head>
<body dir="rtl">
<ul>
    {% for song in relevant_songs %}
        <li><a href="{% url "mima:facts" song.id %}">{{ song }}</a></li>
    {% endfor %}
    </ul>

<footer>
    Copyright 2020 created by Jonatan Menachem develop
</footer>

</body>
</html>
